<div *ngIf="shared.scenario">

    <div *ngIf="!shared.play" (click)="startGame()">Inizia partita</div>

    <ng-container *ngIf="shared.play">
        <app-leaflet-map *ngIf="thereIsOneMapLayer()" [features]="wrapMapFeatures(getMapOnlyLayer())"></app-leaflet-map>
        <ng-container *ngFor="let story of shared.play.story; let first = first">
            <div *ngIf="!story.published">
                <app-show-story [story]="story"></app-show-story>
            </div>
        </ng-container>
    </ng-container>

</div>