<div class="leaflet-map fulldiv"
     leaflet
     [leafletOptions]="options"
     [leafletLayers]="getLayers()"
     (leafletMapReady)="onMapReady($event)">
</div>
<div *ngIf="!leaflet.available">
    Il tuo dispositivo non consente di individuare la tua posizione in mappa
</div>
<app-game-html *ngIf="layer.menu" [url]="layer.menu" (clickable)="handleMenuClickable($event)"></app-game-html>
<div *ngIf="false && leaflet.available && !leaflet.allowed" >
    <div>Mappe disabilitate</div>
    <div (click)="enableGps()">Abilita</div>
</div>
